<div class="post">
	<div class="header">
		<h1>Post title</h1>

		<button routerLink="/" class="btn btn-link">Main Page</button>
	</div>
	<div class="info">
		<strong>Author</strong>
		<small>13.08.22</small>
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consectetur ex magnam commodi saepe quidem labore quaerat tenetur suscipit rem in fugit alias minima, aut sunt voluptates facere omnis! Totam impedit exercitationem, quos, omnis possimus corrupti atque quidem, consectetur ratione repellendus aliquam maiores placeat harum recusandae debitis explicabo et enim!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consectetur ex magnam commodi saepe quidem labore quaerat tenetur suscipit rem in fugit alias minima, aut sunt voluptates facere omnis! Totam impedit exercitationem, quos, omnis possimus corrupti atque quidem, consectetur ratione repellendus aliquam maiores placeat harum recusandae debitis explicabo et enim!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consectetur ex magnam commodi saepe quidem labore quaerat tenetur suscipit rem in fugit alias minima, aut sunt voluptates facere omnis! Totam impedit exercitationem, quos, omnis possimus corrupti atque quidem, consectetur ratione repellendus aliquam maiores placeat harum recusandae debitis explicabo et enim!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consectetur ex magnam commodi saepe quidem labore quaerat tenetur suscipit rem in fugit alias minima, aut sunt voluptates facere omnis! Totam impedit exercitationem, quos, omnis possimus corrupti atque quidem, consectetur ratione repellendus aliquam maiores placeat harum recusandae debitis explicabo et enim!</p>
	</div>
</div>
